*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
   }
   .div1{
       width: 100%;
       height: 460px;
       float: left;
   }
   .sidebar{
       border: 1px solid black;
       width: 300px;
       height: 450px;
       float: left;
       text-align: center;
       padding-top: 50px;
       margin-right: 5px;
     
       
   }
   .main{
       border: 1px solid black;
       width: 1000px;
       height: 450px;
       float: right;
       text-align: center;
       padding-top: 150px;
     
      
   }
   .footer{

    border: 1px solid black;
    width: 100%;
    height: 120px;
    float: right;
    text-align: center;
    padding-top: 30px;
    margin-top: -10px;
}